apiVersion: v1
data:
  .dockerconfigjson: eyJhdXRocyI6eyJnaGNyLmlvIjp7InVzZXJuYW1lIjoianRheWwyMjIiLCJwYXNzd29yZCI6ImdocF9PUzFqbGxoUTQzTWswRXdTRWNPdUQzb3ZiZmNuWHgzZHBpeTYiLCJhdXRoIjoiYW5SaGVXd3lNakk2WjJod1gwOVRNV3BzYkdoUk5ETk5hekJGZDFORlkwOTFSRE52ZG1KbVkyNVllRE5rY0dsNU5nPT0ifX19
kind: Secret
metadata:
  name: ghcr-credentials
  namespace: iris-demo
type: kubernetes.io/dockerconfigjson
