apiVersion: v1
kind: Secret
metadata:
  name: minio-credentials-wf
  namespace: iris-demo
type: Opaque
stringData:
  access-key:     YOUR_MINIO_ACCESS_KEY
  secret-key:     YOUR_MINIO_ACCESS_KEY123
  AWS_ACCESS_KEY_ID:     YOUR_MINIO_ACCESS_KEY
  AWS_SECRET_ACCESS_KEY: YOUR_MINIO_ACCESS_KEY123
  AWS_ENDPOINT_URL:      http://minio.minio.svc.cluster.local:9000
  AWS_DEFAULT_REGION:    us-east-1
  MLFLOW_S3_ENDPOINT_URL: http://minio.minio.svc.cluster.local:9000